@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("normalize.css");

body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(135deg, rgba(148,41,68,1) 0%, rgba(15,15,15,1) 100%);
  color: white;
}
